// Colors
$blue: #3c7aa7;
$orange: #ffa200;
$black: #111;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #ccc;
$white: #fff;

// Fonts
$codeFont: 'Bitstream Vera Sans Mono', 'Courier', monospace;
$defaultFont: 'Merriweather', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}