<!DOCTYPE html>
<html lang="en-CA">
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <meta charset="utf-8"/>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="author" content="{{ site.name }}"/>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}"/>
    <meta property="og:description" content="{{ page.excerpt| strip_html }}"/>
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}"/>
    {% endif %}
    <meta name="author" content="{{ site.name }}"/>

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="twitter:title" content="{{ page.title }}"/>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap" >
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml"/>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
</head>

<body>
<div class="wrapper-masthead">
    <div class="container">
        <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}"/></a>
            <nav>
                <a href="{{ site.baseurl }}/">Home</a>
                <a href="{{ site.baseurl }}/blog">Blog</a>
            </nav>
        </header>
    </div>
</div>

<div id="main" role="main" class="container">
    {{ content }}
</div>

<div class="container">
    {% include quotes.html %}
</div>

<div class="container">
    <footer class="footer">
        {% include svg-icons.html %}
        <br>
        © 2024 - JAG's Information Technology Services Inc.
    </footer>
</div>

{% include analytics.html %}

</body>
</html>
